<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>vi</string>
	<key>CFBundleExecutable</key>
	<string>OreoKey</string>
	<key>CFBundleIdentifier</key>
	<string>com.oreosolutions.oreokey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OreoKey</string>
	<key>CFBundleDisplayName</key>
	<string>OreoKey</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Oreo Solutions</string>
	<key>SUFeedURL</key>
	<string>https://oreosolutions.example.com/oreokey/appcast.xml</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
